*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #fff;
}

body{
  background-color: #1c1c1c;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

header span{
  font-size: 25px;
}

header nav{
  display: flex;
  gap: 15px;
}

header nav a:hover{
  color: gray;
}

#mobile-nav{
  display: none;
}

#mobile-nav a:hover{
  color: gray;
}

@media (max-width:500px){
  header nav{
    display: none;
  }
  #mobile-nav{
    display: flex;
    gap: 15px;
  }
}